name: npm test
on: 
  workflow_dispatch:

jobs:
  job1:
    runs-on: ubuntu-latest
    steps: 
      - name: Check out repository  
        uses: actions/checkout@v6 
      - name: Install Node.js  
        uses: actions/setup-node@v6 
        with:
          node-version: 'lts/*'
      - name: run npm install
        run: npm install
  job2:
    runs-on: ubuntu-latest
    needs: job1
    steps:
      - name: Check out repository  
        uses: actions/checkout@v6 
      - name: Install Node.js  
        uses: actions/setup-node@v6 
        with:
          node-version: 'lts/*'
      - name: run npm test
        run: npm test
